
.hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.responsive {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    
}
.hero h1 {
    grid-column: 2 / 4;
    grid-row: 2;
    color: honeydew;
    align-self: center;
    justify-self: center;
    font-size: 60px;
    overflow: hidden;
}