.WhatWeDo {
    
    margin-top: 20px;
}
.WhatWeDo h1 {
    text-align: center;
}
.WhatWeDo ul {
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
    
}

.WhatWeDo p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 16px;
    color: #615D5D;
}
