.WhyUs {
    padding: 25px;
    margin-bottom: 20px;
    
}
.WhyUs h4 {
    text-align: center;
    margin-bottom: 20px;
}
.WhyUs p {
    font-size: 16px;
    text-align: center;
    margin-top: 8px;

}
.WhyUs .icon {
    display: block;
    margin: 0 auto;
    color: #5A6268;
    transition: 200ms ease-in-out;
}
.WhyUs .icon:hover {
    color: #6C757D;
    cursor: pointer;
}
