.WhyUs {
    padding: 10px;
    background-color: #5A6268;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.WhyUs h4 {
    
}
.WhyUs ul {
    list-style: none;
    padding: 10px;
    
}
.WhyUs li {
    font-size: 14px;
}